.card-title {
    font-weight: bold;
  }
  .badge {
    font-size: 0.8rem;
    padding: 0.5em 0.75em;
  }
  .btn-warning {
background-image: linear-gradient(90deg, #3b5951, #273b35, #3b5951);
    border: none;
  }
  .btn-warning:hover {
    background-color: #b1874f;
  }
  .card-body{
    background: #000; 
  }
  .card-body h5, .card-body p{
            background: linear-gradient(
      90deg,
      #c9ba7e,
      #ffd105, #9b9266
    );
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card{
   border: 2px solid #ffd014;
  }